<footer>
    <section class="footer-options">
        
        <p> 
            <i class="fa-solid fa-credit-card icono-footer"></i><br>
            <span class="titulo-footer">Pagá con tarjeta o en efectivo</span> <br>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
    </section>

    <section class="footer-options">
        <p> 
            <i class="fa-solid fa-gift icono-footer"></i><br>
            <span class="titulo-footer">Envío gratis desde $ 2.500</span> <br>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </section>

    <section class="footer-options">
        <p>
            <i class="fa-solid fa-user-shield icono-footer"></i><br>
            <span class="titulo-footer">Seguridad, de principio a fin</span> <br>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
    </section>
    
    <section class="copyright">
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </section>
</footer>